.ruinscastle{
	background-color: #877072;
	background-image: url("../images/ruinscastle.jpg");
	background-size: cover;
}

.cyoa{
	width: 30%;
	height: 70%;
	position: absolute;
	left: 50%;
	top: 2%;
}

.text{
	background-color: #d4b5a9;
	border-color: #7d3a15;
}

.d20{
	filter: hue-rotate(130deg) brightness(55%);
}

.dice{
	position: absolute;
	top: 3%;
	right: 5%;
}
