<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Haunting grounds - Misty Fields</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/location.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/field.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="../js/location.js"></script>
	<script src="../json/field.json"></script>
</head>
<body>
	<div class="menu"><img class="map" src="../images/map-gif-closed.png"></div>
	<div class="field bgdiv"></div>
	<div class="cyoa">
		<div class="text question">
			<p>What would you like to do?</p>
		</div>
		<div class="text answer">
			<p>Fly with the birds</p>
		</div>
		<div class="text answer">
			<p>Scare the locals</p>
		</div>
		<div class="text answer">
			<p>Sit in a tree and relax</p>
		</div>
	</div>

</body>
</html>