<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Haunting grounds </title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/map.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="../js/welcome.js"></script>
</head>
<body>
	<div class="map bgdiv"></div>
	<div class="location ship"><a href="ship.html"><img class="locationimg" src="../images/mapsunkenshipopacity.png"></a></div>
	<div class="location field"><a href="field.html"><img class="locationimg" src="../images/mapfieldopacity.png"></a></div>
	<div class="location ruinstemple"><a href="ruinstemple.html"><img class="locationimg" src="../images/mapruinsopacity.png"></a></div>
	<div class="location ruinscastle"><a href="ruinscastle.html"><img class="locationimg" src="../images/mapruins2opacity.png"></a></div>
	<div class="location tunnel"><a href="tunnel.html"><img class="locationimg" src="../images/maptunnelopacity.png"></a></div>

</body>
</html>