<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Haunting grounds - Sunken Ship</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/location.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/ship.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="../js/location.js"></script>
	<script src="../json/ship.json"></script>
</head>
<body>
	<div class="menu"><img class="map" src="../images/map-gif-closed.png"></div>
	<div class="ship bgdiv"></div>
	<div class="cyoa">
		<div class="text question">
			<p>What would you like to do?</p>
		</div>
		<div class="text answer">
			<p>Scare the fish</p>
		</div>
		<div class="text answer">
			<p>Feed the seagulls</p>
		</div>
		<div class="text answer">
			<p>Watch the waves beat against the ship</p>
		</div>
	</div>
</body>
</html>