<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Haunting grounds - Tunnel</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/location.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/tunnel.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="../js/location.js"></script>
	<script src="../json/tunnel.json"></script>
</head>
<body>
	<div class="menu"><img class="map" src="../images/map-gif-closed.png"></div>
	<div class="tunnel bgdiv"></div>
	<div class="cyoa">
		<div class="text question">
			<p>What would you like to do?</p>
		</div>
		<div class="text answer">
			<p>Scare the passerby</p>
		</div>
		<div class="text answer">
			<p>Whistle a tune into the tunnel</p>
		</div>
		<div class="text answer">
			<p>Lie down and listen to the waves</p>
		</div>
</body>
</html>